<% layout('layouts/boilerplate') %>
<div class="container justify-content-center">
  <h1 class="text-center">Report</h1>
</div>
<div class="m-4 table-responsive pb-4">
  <table class="table table-bordered table-hover table-striped border-primary">
    <thead>
      <tr>
        <th scope="col" colspan="4"></th>
        <th class="text-center" scope="col" colspan="4">Statistics</th>
      </tr>
      <tr>
        <th class="text-center" scope="col">Data point</th>
        <th class="text-center" scope="col">Last Log</th>
        <th class="text-center" scope="col">Before Last Log</th>
        <th class="text-center" scope="col">Difference</th>
        <th class="text-center" scope="col">Mean</th>
        <th class="text-center" scope="col">StdDev</th>
        <th class="text-center" scope="col">Min</th>
        <th class="text-center" scope="col">Max</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% for( const key in results ) { %>
      <tr>
        <th class="text-center" scope="row"><%= key %></th>
        <td class="text-center"><%= lastLog[key] %></td>
        <td class="text-center"><%= beforeLastLog[key] %></td>
        <td class="text-center"><%= resultsOfRecentLogs[key] %></td>
        <td class="text-center"><%= results[key].Mean %></td>
        <td class="text-center"><%= results[key].stdDev %></td>
        <td class="text-center"><%= results[key].Min %></td>
        <td class="text-center"><%= results[key].Max %></td>
      </tr>
      <% } %>
      <tr></tr>
    </tbody>
  </table>
</div>
