<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="<%- process.env.DOMAIN %>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%- process.env.DOMAIN %>css/custom.css">
    <title>HM Walkthrough</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%- process.env.DOMAIN %>apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%- process.env.DOMAIN %>favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%- process.env.DOMAIN %>favicon-16x16.png"
    />
    <link rel="manifest" href="<%- process.env.DOMAIN %>site.webmanifest" />
    <link
      rel="mask-icon"
      href="<%- process.env.DOMAIN %>safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <script src="<%- process.env.DOMAIN %>js/jquery.min.js"></script>
  </head>
  <% if (!currentUser || currentUser.theme === "dark") { %>
    <body data-bs-theme="dark" class="d-flex flex-column vh-100">
  <% } else { %>
    <body data-bs-theme="light" class="d-flex flex-column vh-100">
  <% } %>
    <%- include('../partials/navbar')%>
    <main class="container-fluid my-5 d-flex flex-column">
      <%- include('../partials/flash') %> <%- body %>
    </main>

      <%- include('../partials/footer') %>


    <script src="<%- process.env.DOMAIN %>js/bootstrap.min.js"></script>
    <script src="<%- process.env.DOMAIN %>js/main.js"></script>
  </body>
</html>
